*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*.log
*.cmd
*.symvers
*.order
*.ko
*.mod.c
*.mod.o
*.o
sdaccel_profile_summary.html
sdaccel_profile_summary.csv
*~
.DS_Store
.project
.settings
.idea/
.idea_modules/
!build/build
target/
lib_managed/
log/
out/
result/
tmp_verisons/
